
.professional {
    transition-duration: 0.2s;
}

.professional2 {
    transition-duration: 0.15s;
}

.middle {
    transition-duration: 0.3s;
}

.easy {
    transition-duration: 0.5s;
}

#hats {
    border: 1px solid black;
    margin: 15vh auto;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    justify-content: center;
    /* width: 65vw; */
    /* height: 25vw; */
    position: absolute;
    margin-top: 12vmax;
    margin-left: 22vw;
}

.rabbit {
    background-image: url('../images/001-rabbit.png');
    background-size: cover;
    width: 5vw;
    height: 5vw;
    margin: auto;
    transition-duration: 1s;
    z-index: -1;
    position: absolute;
    display: none;
}

.hat-body {
    background: black;
    height: 6vmax;
    width: 5vmax;
    position: relative;
    top: -0.5vmax;
    border-radius: 0 0 5% 5%;
    box-shadow: 8px 6px 9px 0px #3a3030;
}

.hat-border {
    height: 0.8vmax;
    width: 5vmax;
    background-color: #f52727;
    position: absolute;
    top: 0.8vmax;
    border-radius: 0 0 20% 20%;
}

.hat-top {
    background: black;
    height: 1.5vmax;
    width: 8vmax;
    position: relative;
    border-radius: 10% 10% 50% 50%;
    box-shadow: 8px 6px 9px 0px #3a3030;
}

.Hat {
    transition: all;
    transition-duration: 0.5s;
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    z-index: 3;
    /*width: 15vw;
    height: 12vw;*/
}

.btn_start {
    color: white;
    font-size: 5vmax;
}

    .btn_start:hover {
        color: #f52727;
    }

.chooseHatMessage {
    /*color: white;*/
    font-size: 4vmax;
    font-family: Candara;
    text-align: center;
    animation-name: blinking;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
    margin-top: 58vh;
    z-index: 100;
    text-shadow: 1px 0px 1px #020202, 0px 0px 8px white;
}

@keyframes blinking {
    50% {
        color: #f52727;
    }
    50% {text-shadow: 1px 0px 1px #ff2300, 0px 0px 20px white;}
}

#numOfLevel {
    color: white;
    position:relative;
    font-size: 3vmax;
    font-family: Candara;
    font-weight:200;
    top:2vmax;
    left:4vmax;
   
}
#timer
{
        color: white;
    position:relative;
    font-size: 3vmax;
    font-family: Candara;
    font-weight:200;
    top:2vmax;
    left:4vmax;
    
}
#removeTimer
{
    visibility: hidden;
}

#hearts {
    position: absolute;
    top: 20vh;
    left:3vmax;
}

.heart {
    background-color: transparent;
    height: 3vmax;
    width: 3vmax;
    font-size: 3vmax;
    color: #f52727;
    display: inline-block;
    text-shadow: 4px 4px 10px #3a3030;
}
.removeHeart {
    transition: all;
    /*transition-duration: 3s;*/
    /*transform: rotate(-200deg);*/

    animation-name: b;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes b{
   100%{
        -webkit-transform: scale(5);
        opacity: 0;
   }

}
.btn_end_game {
    background-color: #f52727;
    height: 7vw;
    width: 7vw;
    margin: auto;
    display: none;
    border-radius: 50%;
}

#yes {
    display: none;
}

#no {
    display: none;
}

.message_and_image {

    height: 25vmin;
    width: 50vmin;
    text-align: center;
}
#messageF{
   font-size: 5vmin;
    text-align: center;
    font-family:Candara;
}

#div_opacity {
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    z-index: 99;
    opacity: 0.6;
    display: none;
    box-shadow: 0px 4px 9px 0px #3a3030;
}

.div_finish {
    background-color: #f52727;
    box-shadow: inset 0px 0px 20px 6px #ffeaea;
    height: 40vmin;
    width: 50vmin;
    z-index: 150;
    margin-top: -220vh;
    /* display: none; */
    position: relative;
    margin-left: -15vw;
    border-radius: 10%;
    /* top: 50%; */
    left: 50%;
    padding: 3%;
    transition: margin-top;
    transition-duration: 2s;
    animation-name: initial;
}

.spinner {
    display: none;
  margin: 100px auto 0;
  width: 11vw;
  text-align: center;
}

.spinner > div {
  width: 2vw;
  height: 2vw;
  background-color: #eae1e1;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


@keyframes rotation {
   from{
       -webkit-transform:rotate(0deg);
   }
    to{
        -webkit-transform: rotate(359deg);
    }
}


.gameOver {
    -webkit-animation: shakeOpacity 1.4s infinite ease-in-out both;
    font-family:Candara;
    font-weight:bolder;
}
@keyframes shakeOpacity {
    10% {
        transform: translate(-2px, 2px) rotate(.5deg);
        opacity: .42;
    }

    20% {
        transform: translate(-4px, 1px) rotate(2.5deg);
        opacity: .11;
    }

    30% {
        transform: translate(0px, 5px) rotate(1.5deg);
        opacity: .81;
    }

    40% {
        transform: translate(2px, 3px) rotate(1.5deg);
        opacity: .72;
    }

    50% {
        transform: translate(3px, 5px) rotate(2.5deg);
        opacity: .2;
    }

    60% {
        transform: translate(1px, 0px) rotate(1.5deg);
        opacity: .75;
    }

    70% {
        transform: translate(-2px, -3px) rotate(.5deg);
        opacity: .61;
    }

    80% {
        transform: translate(-3px, 5px) rotate(2.5deg);
        opacity: .84;
    }

    90% {
        transform: translate(-4px, 1px) rotate(-1.5deg);
        opacity: .05;
    }

    0%, 100% {
        transform: translate(0, 0) rotate(0);
    }
}

.rabbit1 {
    height: 170px;
    width: 60px;
    text-align: center;
    display: none;
}

.rabbitSed {
    display: none;
    margin-top: -6vh;
}

.btn_again img:hover {
    transform: rotate(-360deg);
    transition: all;
    transition-duration: 0.7s;
}

.btn_finish {
    background-color: white;
    height: 15vmin;
    width: 17vmin;
    margin: auto;
    display: none;
    border-radius: 10%;
    font-size: 3vmin;
    font-weight:700;
    box-shadow: 0px 4px 9px 0px #3a3030;
    
}
    .btn_finish:hover {
       transform:scale(0.9);
    }

