body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.memory-game {
    max-width: 600px;
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ebedf0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    }